@font-face ***REMOVED***
    font-family: 'Qanelas-Black';
    src: url('../fonts/Qanelas/QanelasBlack.woff') format('woff2');
}

@font-face ***REMOVED***
    font-family: 'Qanelas-Bold';
    src: url('../fonts/Qanelas/QanelasBlack.woff') format('woff2');
}

@font-face ***REMOVED***
    font-family: 'Qanelas-Light';
    src: url('../fonts/Qanelas/QanelasLight.woff') format('woff2');
}

@font-face ***REMOVED***
    font-family: 'Qanelas-Medium';
    src: url('../fonts/Qanelas/QanelasMedium.woff') format('woff2');
}

@font-face ***REMOVED***
    font-family: 'Qanelas-Ultra-Light';
    src: url('../fonts/Qanelas/QanelasUltraLight.woff') format('woff2');
}